.card-image {
  max-height: 20em;
}

.card-content {
  color: #666;
  position: relative;
}

.icon {
    display: inline-block;
    width: 5rem;
    height: 5rem;
}

.info {
    display: inline-block;
    width: calc(100% - 5.5rem);
    overflow: hidden;
}

.card .info .card-title.activator {
  line-height: 5rem;
  padding-left: 3%;
}

.more {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
}

.card .card-content p {
    display: flex;
}

.platforms i {
  font-size: 10px;
  margin-right: 0.5em;
}

footer {
  bottom: 0;
  width: 100%;
}

.side-nav {
  /*background-color: #000 !important;*/
}

.side-nav a {
  color: #000 !important;
}

.teampics {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}

.teampics li {
  margin: 5px;
  font-size: 18px;
  width: 151px;
  text-align: center;
}

.teampics img {
  width: 150px;
  height: 150px;
}
