<div id="portfoliowrap">
    <div class="portfolio-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems portfolio">
            {% for project in site.categories['project'] limit:include.limit %}
                <a class="wrapper" href="{{  project.url | prepend: site.baseurl }}">
                  <div class="portfolio-item graphic-design">
                    <img src="{{ "/assets/img/project/" | prepend: site.baseurl }}{{ project.img }}" alt="">
                    <div class="hover">
                      <h3 class="a1">{{ project.title }}</h3>
                    </div>
                  </div><!-- end col-12 -->
                </a>
            {% endfor %}
        </div><!-- portfolio -->
    </div><!-- portfolio container -->
</div><!--/Portfoliowrap -->
